@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 242, 242);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

.head {
    font-family: 'Sriracha', cursive;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid lightgrey;
}